@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
}

.menu {
    display: flex;
}

ul {
    cursor: pointer;
    list-style-type: none;
}

.menu ul {
    display: flex;
    align-items: center;

}

.menu ul li {
    margin-left: 15px;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

/* Navicon */

#menu_icon {
    width: 24px;
    height: 20px;
    position: relative;
    text-indent: -9999px;
}
  
#menu_icon::after {
    margin-top: 1px;
    content: '';
    width: 24px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0px 0 #000,
                0 6px 0 #000,
                0 12px 0 #000;
}

#login {
    color: rgb(151, 151, 151);
}

#search {
    margin-top: 3px;
    border-radius: 100px;
    padding: 5px;
}

#account {
    font-size: 3em;
}

.button {
    display: flex;
    align-items: center;
    background: blue;
    color: white;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 100px;
}

.button span {
    margin-right: 10px;
    font-size: 1.3em;
}

.button:hover {
    background-color: darkblue;
}

#search:hover {
    border-radius: 100px;
    padding: 5px;
    background-color: rgb(234, 234, 234);
}

#account:hover {
    color: rgb(198, 198, 198);
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* Nav */

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

#signup p {
    margin: 10px 0px;
}

#signup .button {
    font-size: 1em;
    padding: 10px 60px;
    cursor: pointer;
}

.title {
    font-size: 1.2em;
    color: grey;
    margin: 10px 0px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons span {
    margin-right: 8px;
}

.star, .icons {
    cursor: pointer;
}

.star {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.star span {
    color: lightgrey;
}

.star, .icons {
    padding: 7px 15px;
    margin: 0px -15px;
}

.star span:hover {
    color: grey;
}

.star:hover,
.icons:hover {
    background: rgb(236, 236, 236);
}
/* Section */

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
}

.ads1 {
    width: 600px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    margin-left: 10px;
    
}

.tags {
    width: 575px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;          
}

.tag {
    border: 1px solid lightgrey;
    border-radius: 100px;
    padding: 5px 13px;
    margin-left: 5px;
    cursor: pointer;
}

.keyword {
    background: rgb(236, 236, 236);
    margin: 4px;
    padding: 5px;
    cursor: pointer;

}

.tag:hover {
    background-color: rgb(236, 236, 236);
}

.keyword:hover {
    background-color: lightgrey;
}

/* GIFs */
.gifs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 550px;
}

.titleContainer {
    display: flex;
    justify-content: flex-end;
}

.titleName, .titleIcons {
    display: flex;
    justify-content: space-around;
}

.circle {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.userNames, .hour {
    font-size: .9em;
}

.hour, .titleIcons {
    color: lightgrey;
}

.titleIcons span {
    font-size: 1.3em;
}

.gifTitle {
    font-size: 1.2em;
    margin: 10px 0
}

.gif {
    height: 550px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aside */

.ads2 { 
    margin: 0 0 20px 10px;
    width: 300px;
}

.picture {
    border: 1px solid lightgrey;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads2 h6 {
    color: grey;
}

@media(max-width: 1280px) {
    nav {
        display: none;
    }
} 
